.navli {
    border-right: 1px solid #bbb;
    float: left;
    }

.navlog {
    float:right;
    background-color: #4CAF50;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    }

.navli:last-child {
    border-right: none;
    }

.navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }

.navul a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
  
.navli a:hover {
    background-color: #111;
    }
